In [1]:
import pandas as pd, numpy as np
data = np.arange(1,17).reshape(4,4)
data

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [6]:
l = 'l1 l2 l3 l4'.split()
l

['l1', 'l2', 'l3', 'l4']

In [7]:
c = 'c1 c2 c3 c4'.split()
c

['c1', 'c2', 'c3', 'c4']

In [2]:
linhas = np.char.add(np.repeat('l',4),np.arange(1,5).astype(str))
linhas

array(['l1', 'l2', 'l3', 'l4'], dtype='<U22')

In [4]:
colunas = np.char.add(np.repeat('c',4),np.arange(1,5).astype(str))
colunas

array(['c1', 'c2', 'c3', 'c4'], dtype='<U22')

In [5]:
df = pd.DataFrame(data, linhas, colunas)
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [8]:
# Selecionar mais de uma coluna na ordem que quiser
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13